.breadcrumb_part {
    background-color: #A70C1C;
}

.btn_1 {
    background-color: #A70C1C;
    border: 2px solid #A70C1C;
}

    .btn_1:hover {
        background-color: #FFF;
        color: #A70C1C;
    }

.btn_3 {
    color: #A70C1C;
    border: 2px solid #A70C1C;
}

    .btn_3:hover {
        background-color: #A70C1C;
        color: #FFF;
    }

a {
    color: #2e2e2e;
}

    a:hover {
        color: #A70C1C;
    }
.footer_part .footer_iner .footer_menu_item a {
    color: #2e2e2e;
}
.footer_part .footer_iner .footer_menu_item a:hover {
    color: #A70C1C;
}
.banner_part:after {
    background-color: #A70C1C;
}

.dropdown .dropdown-menu {
    background-color: #A70C1C;
}

    .dropdown .dropdown-menu .dropdown-item {
        background-color: #A70C1C;
    }

.client_review {
    background-color: #2e2e2e;
}

    .client_review .client_img:after {
        background-color: #A70C1C;
    }

    .client_review .owl-nav button.owl-prev, .client_review .owl-nav button.owl-next {
        border: 1px solid #A70C1C;
        color: #A70C1C;
    }

        .client_review .owl-nav button.owl-prev:hover, .client_review .owl-nav button.owl-next:hover {
            background-color: #A70C1C;
        }

.product_sidebar .single_sedebar input {
    background-color: #2e2e2e;
    border: 1px solid #2e2e2e;
    color: #fff;
}

    .product_sidebar .single_sedebar input::placeholder {
        color: #fff;
    }

.select_option .select_option_list {
    background-color: #2e2e2e;
    border: 1px solid #2e2e2e;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.owl-carousel .owl-item img {
    max-height: 650px;
    object-fit: contain;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #2e2e2e;
    border-color: #2e2e2e;
}

p{
    color: #000;
}
.paginate_button .current {
    background-color: #c2c2c2 !important;
    
}
.main_menu .main-menu-item ul li .nav-link {
    color: #2e2e2e;
}
.main_menu .main-menu-item ul li .nav-link:hover {
    color: #A70C1C !important;
}

.btn-link {
    color: #2e2e2e;
}
    .btn-link:hover {
        color: #A70C1C;
        text-decoration: none;
    }
.footer_part .copyright_part {
    background-color: #2e2e2e;
    
}
.footer_part .copyright_part {
    background-color: #2e2e2e;
    color: #fff;
}
 div.copyright_text p{
        color: #fff !important;
    }
        .footer_part .copyright_part .copyright_text p a {
            color: #fff;
        }
        .footer_part .copyright_part .copyright_text p a:hover {
            color: #A70C1C;
        }
/*.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: none;
    background-color: #2e2e2e;

}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background-color: #A70C1C;
}
.container .dataTables_paginate .paging_simple_numbers .dataTables_wrapper .dataTables_paginate .paginate_button.current a {*/
    /*color: #fff !important;*/
    /*color: unset #fff;
}*/

.page-item.active .page-link {
    color: #fff;
    background-color: #2e2e2e;
    border-color: #2e2e2e;
}
    .page-item.active .page-link:hover {
        color: #fff;
        background-color: #A70C1C;
        border-color: #A70C1C;
    }

iframe.google {
    width: 50vw;
    height: 33vh;
}
.page-link {
    color: #2e2e2e;
}
    .page-link:hover {
        color: #A70C1C;
    }
