@{
    ViewData["Title"] = "Home";
}

@section banner{
<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>
                                Planet Express Co.
                            </h1>
                            <p>
                                Our crew is replaceable, your package isn't!
                            </p>
                            <a href="@Url.ActionLink("Index","Products")" class="btn_1">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner_img">
            <img src="~/img/planetExpress.jpg" alt="#" class="img-fluid">
            @*<img src="~/img/banner_pattern.png " alt="#" class="pattern_img img-fluid">*@
        </div>
    </section>
<!-- banner part start-->
}
<!-- client review part here -->
<section class="client_review">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="client_review_slider owl-carousel">
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="~/img/Lurr.webp" alt="#">
                        </div>
                        <p>"I wish the crew was a little more replaceable"</p>
                        <h5>- Lurr</h5>
                    </div>
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="~/img/clamps.png" alt="#">
                        </div>
                        <p>"I'll tell ya what, These clamps really CLAMP""</p>
                        <h5>- Clamps</h5>
                    </div>
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="~/img/BobBarker.png" alt="#">
                        </div>
                        <p>"The robot ruined everything will not be back"</p>
                        <h5>- Bob Barker</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- client review part end -->
<!-- feature part here -->
